@model ShopProj.Models.Users



<div class="card mb-3" style="max-width: 670px;">
    <div class="row g-0">
        <div class="col-md-4">
            <p>@Model.user_first_name</p>
            <p>@Model.user_patronymic</p>
            <p>@Model.user_last_name</p>
            <p>@Model.user_dateOfBirth</p>
        </div>
        <div class="col-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Фильм</th>
                        <th scope="col">Оценка</th>                    
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Marks) {
                   
                    <tr>
                        <th scope="row"></th>
                        <td>@item.Film.film_name</td>
                        <td>@item.Mark</td>
                        
                    </tr>
                  
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>